body {
    font-family: 'Work Sans', sans-serif;
    background-color: black;
    background-image: url("static/images/red_tk_cropped.jpg");
    background-position: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.socials {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    color: white;

    /*align-items: center;*/

}
.tm-text{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-size: large;
}

.member {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}
.zoom {
    transition: transform .2s; /* Animation */
    height: min-content;
    width: min-content;
}
.team-members{
    display: flex;
    flex-direction: column;
    row-gap: 2px;

}
.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}